*{
 .custom-button{
    font-size: 1rem;
    border: none;
    padding: 10px 12px;
    border-radius: 10px;
    position: absolute;
    background-color: red;
    color: white;
    top: 10;
    right: 0;
 }
 .fa-solid.fa-play {
    margin-right: 5px;
    color: white;
 }
 .custom-link {
    text-decoration: none; 
    color: inherit; 
}


.title {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
    text-align: right;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
}


}




/* Phone */

@media only screen and (max-width:700px){

    body {
        background-size: contain; 
        background-attachment: scroll; 
        background-position: center;
    }
}